
#game ul, #game li {
    margin: 0;
    padding: 0;
}

#game ul {
    list-style: none;
    
}

#game .col {
    display: flex;
    flex-direction: column;
}

#game .col li {
    width: 60px;
    height: 60px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
}

#game .col li.player1 {
    background:red;
}

#game .col li.player2 {
    background:yellow;
}

.board {
    width: cover;
    height: 50%;
    display: flex;
    justify-content: center;
    background-color: rgb(231, 231, 231);
}

.board:first-child{
    flex-direction:row;
}

#game .playerTurn {
    padding:16px;
    text-align:center;
    font-size:20px;
    margin:20px 0;
    background:#555;
    color:#FFF;
}

#game .playerTurn .player1 {
    color:red;
}

#game .playerTurn .player2 {
    color:yellow;
}

